@model Ex01.Models.Emp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDOJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDOJ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
